.Note {
    stroke: rgba(14, 14, 14, 0.096);
    stroke-width: .0%;
}

.Note > circle {
    fill: rgb(219, 219, 219);
}
.Note > text {
    fill: rgb(27, 27, 27);
}

/*
P1
P4
P5

m2
M2
m3
M3
m6
M6
m7
M7
*/

[class~="1P"] > circle {
    fill: rgb(145, 34, 34);
}

[class~="1P"] > text {
    fill: rgb(212, 212, 212);
}