@import url('https://fonts.googleapis.com/css?family=Abel:400');
body {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  background-color: rgb(233, 233, 233);
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FretboardDiv {
  width: 98vw;
  margin: auto;
}